@font-face {
  font-family: 'Akkurat Mono';
  src: url('./assets/fonts/Akkurat-Mono.ttf') format('truetype');
}

html,
body {
  font-family: 'Akkurat Mono', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  width: 100%;
  background: #1d2936;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Akkurat Mono', monospace;
}

b {
  background-color: #ffd828;
  color: #1d2936;
}

::selection {
  background: transparent;
  color: #ffd828;
}

.bg-dark {
  background-color: #1d2936;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d2936;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e6e6e6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e6e6e6;
}

@media only screen and (max-width: 480px) {
  html,
  body {
    font-size: 12px;
  }
}
